.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.projects h1 span {
  transform: rotate(0deg);
  transition-delay: 50ms;
  transition: all 450ms ease-in-out;
}
.projects h1 .rotated {
  transform: rotate(-540deg);
}
.projects .textblock {
  display: flex;
  flex-direction: column;
  max-height: 90rem;
}
.projects .textblock h1 {
  margin: 0;
  padding-top: 0.25rem;
}
.projects .textblock .card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.projects img {
  width: 100%;
  height: auto;
  max-height: 100rem;
  transition: max-height 1s linear;
  overflow: hidden;
  border-bottom: black 2px solid;
}

.projectpages img {
  max-width: 100%;
  height: auto;
}
.projectpages .pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}
.projectpages .pictures img {
  width: 100%;
  object-fit: cover;
}
.projectpages iframe {
  max-width: 100%;
}

@media only screen and (max-width: 640px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
