// =====================
// Shared Mixins
// =====================

@mixin mobile {
  @media only screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin rotate-toggle {
  transform: rotate(0deg);
  transition-delay: 50ms;
  transition: all $transition-rotation;

  &.rotated {
    transform: rotate(-540deg);
  }
}

@mixin text-truncate($lines: 6) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin card-image {
  width: 100%;
  height: auto;
  border-bottom: $border-standard;
}

@mixin card-actions-layout {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin auto-grid($min-width: 20rem) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-width, 1fr));
}
