.blog {
  display: flex;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: space-between;
    span {
      @include rotate-toggle;
    }
  }
  .textblock {
    max-width: 75rem;
    margin-bottom: $space-3xl;
  }
  img {
    @include card-image;
    max-height: 100rem;
    transition: max-height 1s linear;
    overflow: hidden;
  }
}
