.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  h1 {
    display: flex;
    justify-content: space-between;
    span {
      @include rotate-toggle;
    }
  }
  .textblock {
    margin-bottom: 10em;
    flex-basis: 45rem;
    max-height: 90rem;
  }
  img {
    @include card-image;
    max-height: 100rem;
    transition: max-height 1s linear;
    overflow: hidden;
  }
}
