.classes {
    .textblock {
        max-width: 60rem;
        margin-bottom: $space-3xl;
        h1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        p,
        ol {
            margin: $space-base;
        }
        span, a{
            @extend %squared_button  !optional;
            margin: $space-base;
            font-weight: bold;
        }
    }
}
