.classes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-lg;

    .textblock {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            padding-top: $space-xs;
        }
        p,
        ol {
            margin: $space-base;
        }
        .card-actions {
            @include card-actions-layout;
            margin-top: auto;

            a {
                @extend %squared_button !optional;
            }
        }
    }
}

@include mobile {
  .classes {
    grid-template-columns: 1fr;
  }
}
