.contact {
    .textblock {
      max-width: 55rem;
      margin-top: $space-lg;
      margin-left: auto;
      position: relative;
      z-index: $z-overlay;
    }
    @include mobile {
      .textblock {
        margin-left: 0;
      }
    }

    ul {
      list-style-type: disc;
    }
    .apply-btn {
      display: inline-block;
      margin-top: $space-xl;
      padding: $space-md $space-3xl;
      font-size: $font-size-base;
      border: $border-standard;
      text-decoration: none;
      background-color: $color-black;
      color: $color-white;
      transition: all $transition-fast;

      &:hover {
        background-color: $color-white;
        color: $color-black;
      }
    }

    .big-logo {
      left: unset;
      right: $space-3xl;
    }
}
