.contact {
    .textblock {
      max-width: 55rem;
      margin-top: $space-lg;
      margin-left: auto;
      position: relative;
      z-index: $z-overlay;
    }
    @include mobile {
      .textblock {
        margin-left: 0;
      }
    }

    ul {
      list-style-type: disc;
    }
    .big-logo {
      left: unset;
      right: $space-3xl;
    }
}
