.events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-position: inside;
    .textblock {
        margin-bottom: $space-lg;
        max-width: 70rem;

        h2,
        p, ol {
            margin: $space-base;
        }
        h3 {
            margin: 0 $space-base;
        }
    }
    .info {
        max-width: 20rem;
    }
    .schedule {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h1 {
            flex: 0 0 100%;
        }
        h2 {
            text-decoration-line: underline;
        }
        p {
            margin: 0 $space-base;
        }
        section {
            max-width: 300px;
            :last-child {
                margin-bottom: $space-base;
            }
        }
    }
    @include mobile {
        .info {
            max-width: 25rem;
        }
    }
}
