.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-lg;

    h1 {
      span {
        @include rotate-toggle;
      }
    }
    .textblock {
      display: flex;
      flex-direction: column;
      max-height: 90rem;

      h1 {
        margin: 0;
        padding-top: $space-xs;
      }

      .card-actions {
        @include card-actions-layout;

        a {
          @extend %squared_button !optional;
        }
      }
    }
    img {
      @include card-image;
      max-height: 100rem;
      transition: max-height 1s linear;
      overflow: hidden;
    }
}

.projectpages {
    img {
      max-width: 100%;
      height: auto;
    }

    .pictures {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: $space-lg;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    iframe {
      max-width: 100%;
    }
}

.section-heading {
    margin: $space-xl $space-4xl;
}

@include mobile {
  .projects {
    grid-template-columns: 1fr;
  }
}
