---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TIILT Lab</title>
  <meta name="Description" content="Tiilt Lab's Website" />
  <meta name="theme-color" content="#ccc4df" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.3/css/unicons.css">
</head>

<body>
  <header></header>
  <main class="classes">
    {% for course in site.data.classes.classes %}
    <section class="textblock">
      <h1>{{ course.title }}</h1>
      <p>{{ course.description | newline_to_br }}</p>
      {% if course.objectives.size > 0 %}
      <ol class="list_with_padding">
        {% for obj in course.objectives %}
        <li>{{ obj }}</li>
        {% endfor %}
      </ol>
      {% endif %}
      {% if course.additional_description != "" and course.additional_description != nil %}
      <p>{{ course.additional_description }}</p>
      {% endif %}
      {% if course.link != "" and course.link != nil %}
      <a href="{{ course.link }}" target="_blank">Link</a>
      {% endif %}
    </section>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../script.js"></script>

  </main>

</body>

</html>
