---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TIILT Lab - Blog</title>
  <meta name="description" content="News and updates from the TIILT Lab at Northwestern University."/>
  <link rel="canonical" href="https://tiilt.northwestern.edu/blog/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="TIILT Lab - Blog">
  <meta property="og:description" content="News and updates from the TIILT Lab at Northwestern University.">
  <meta property="og:url" content="https://tiilt.northwestern.edu/blog/">
  <meta property="og:image" content="https://tiilt.northwestern.edu/assets/img/og-image.png">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="preload" href="/assets/fonts/AHAMONO-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <meta name="theme-color" content="#ccc4df" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32.png">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
</head>

<body>
  <header></header>
  <main class="blog">
    <h1 class="visually_hidden">Blog</h1>
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% if posts.size > 0 %}
    {% for post in posts %}
    <section class="textblock">
      <h2 class="card-title"><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.image_alt }}" />
      {% endif %}
      {{ post.content }}
    </section>
    {% endfor %}
    {% else %}
    <section class="textblock">
      <h2 class="card-title">Coming Soon</h2>
      <p><b>Stay tuned for TIILT Lab's blog!</b></p>
    </section>
    {% endif %}

  </main>

  <script src="../script.js"></script>

  <script data-goatcounter="https://tiilt.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
