---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TIILT Lab - Blog</title>
  <meta name="Description" content="Tiilt Lab's Website" />
  <meta name="theme-color" content="#ccc4df" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.3/css/unicons.css">
</head>

<body>
  <header></header>
  <main class="blog">
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% if posts.size > 0 %}
    {% for post in posts %}
    <section class="textblock">
      <h1>{{ post.title }}</h1>
      <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.image_alt }}" />
      {% endif %}
      {{ post.content }}
    </section>
    {% endfor %}
    {% else %}
    <section class="textblock">
      <h1>Coming Soon</h1>
      <p><b>Stay tuned for TIILT Lab's blog!</b></p>
    </section>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../script.js"></script>

  </main>

</body>

</html>
