---
layout: null
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Research Papers</title>
    <meta name="Description" content="Tiilt Lab's Website" />
    <meta name="theme-color" content="#ccc4df" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.3/css/unicons.css" />
</head>

<body>
    <header></header>
    <main class="papers">
      {% assign sorted_papers = site.data.papers.papers | sort: "year" | reverse %}
      {% assign years = sorted_papers | map: "year" | uniq %}
      {% for year in years %}
      <section class="textblock">
        <h1 class="windowheader" tabindex="0">{{ year }}</h1>
        {% assign year_papers = sorted_papers | where: "year", year %}
        {% for paper in year_papers %}
        <div class="window__paper">
          <p>{{ paper.citation }}</p>
          {% if paper.pdf != "" and paper.pdf != nil %}
          <a href="{{ paper.pdf }}" target="_blank">PDF</a>
          {% endif %}
          {% if paper.doi != "" and paper.doi != nil %}
          <a href="{{ paper.doi }}" target="_blank">DOI</a>
          {% endif %}
          {% if paper.link != "" and paper.link != nil %}
          <a href="{{ paper.link }}" target="_blank">READ</a>
          {% endif %}
        </div>
        {% endfor %}
      </section>
      {% endfor %}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../script.js"></script>
</body>
</html>
